:root {
  --color-white: hsl(0, 0%, 100%);
  --color-gray: hsl(0, 0%, 85%);
  --color-violet-dark: hsl(278, 68%, 11%);
  --color-gray-light: hsl(270, 3%, 87%);
  --spacing: 3px;
  --size-secondary: 0.8rem; }

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Space Grotesk', sans-serif; }

input,
label {
  display: block; }

input {
  margin-top: 1rem;
  font-family: 'Space Grotesk';
  font-size: 1.2rem;
  padding-left: 1rem; }

input::placeholder {
  color: var(--color-gray-light); }

.container {
  display: grid;
  grid-template-columns: 3fr 7fr;
  height: 100%; }

.cards-section {
  grid-column: 1 2;
  background-image: url("./images/bg-main-desktop.png");
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  gap: 2rem; }

.cards {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  margin-top: 8rem; }

.card-front {
  background-image: url("./images/bg-card-front.png");
  width: 28rem;
  height: 15.5rem;
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--color-white);
  margin-left: 6rem; }
  .card-front__info {
    margin: 1rem 1.7rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 5rem; }
  .card-front__logo {
    width: 80px; }
  .card-front__details {
    display: flex;
    flex-direction: column;
    gap: 1.5rem; }
  .card-front__number {
    font-weight: 400;
    font-size: 1.8rem;
    letter-spacing: var(--spacing); }
  .card-front__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 300; }
  .card-front__footer-name {
    text-transform: uppercase;
    letter-spacing: var(--spacing);
    font-size: var(--size-secondary); }

.card-back {
  background-image: url("./images/bg-card-back.png");
  width: 28rem;
  height: 15.5rem;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: var(--color-white);
  margin-left: 10rem; }
  .card-back__content {
    padding-right: 4rem; }

.form-section {
  grid-column: 2 -1; }

.card-form {
  text-transform: uppercase;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem; }
  .card-form__privacy {
    display: flex;
    gap: 2rem;
    align-items: center; }
  .card-form__date {
    display: flex;
    flex-direction: column;
    gap: 0; }
    .card-form__date__header {
      margin: 0; }
    .card-form__date__fields {
      display: flex;
      gap: 1.2rem; }
  .card-form__input {
    border: solid 1px var(--color-gray);
    border-radius: 0.5rem;
    height: 3rem; }
    .card-form__input--primary {
      width: 24rem; }
    .card-form__input--secondary--date {
      width: 4rem; }
    .card-form__input--secondary--cvc {
      width: 10rem; }

.submit {
  text-decoration: none;
  border: none;
  width: 25rem;
  height: 3rem;
  color: var(--color-white);
  background-color: var(--color-violet-dark); }

@media (max-width: 600px) {
  .container {
    display: flex;
    flex-direction: column; }
  .cards {
    margin-top: 4rem;
    gap: 0; }
  .cards-section {
    background-size: cover;
    height: 30vh;
    flex-direction: column; }
  .card-front {
    margin-top: -3.7rem;
    margin-left: 1.5rem;
    width: 16rem;
    background-size: contain;
    height: 8.5rem;
    order: 2; }
    .card-front__info {
      gap: 2rem; }
    .card-front__number {
      font-size: 0.8rem; }
    .card-front__logo {
      width: 60px; }
    .card-front__details {
      gap: 0.7rem;
      font-size: 0.6rem; }
    .card-front__footer-name {
      font-size: 0.5rem;
      letter-spacing: 1px; }
  .card-back {
    width: 16rem;
    background-size: contain;
    margin: 0;
    height: 8.5rem;
    order: 1;
    margin-left: 4rem; }
    .card-back__content {
      font-size: 0.5rem;
      padding-right: 2.5rem; } }
