:root {
  --color-white: hsl(0, 0%, 100%);
  --spacing: 3px;
  --size-secondary: 0.8rem; }

html,
body {
  height: 100%;
  margin: 0;
  font-family: 'Space Grotesk', sans-serif; }

input,
label {
  display: block; }

.container {
  display: grid;
  grid-template-columns: 3fr 7fr;
  height: 100%; }

.cards-section {
  grid-column: 1 2;
  background-image: url("./images/bg-main-desktop.png");
  display: flex;
  flex-direction: column;
  gap: 2rem; }

.form-section {
  grid-column: 2 -1; }

.card-front {
  background-image: url("./images/bg-card-front.png");
  width: 447px;
  height: 245px;
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--color-white); }
  .card-front__info {
    margin: 1rem 1.7rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 5rem; }
  .card-front__logo {
    width: 80px; }
  .card-front__details {
    display: flex;
    flex-direction: column;
    gap: 1.5rem; }
  .card-front__number {
    font-weight: 400;
    font-size: 1.8rem;
    text-align: center;
    letter-spacing: var(--spacing); }
  .card-front__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 300; }
  .card-front__footer-name {
    text-transform: uppercase;
    letter-spacing: var(--spacing);
    font-size: var(--size-secondary); }

.card-back {
  background-image: url("./images/bg-card-back.png");
  width: 447px;
  height: 245px;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: var(--color-white); }
  .card-back__content {
    padding-right: 4rem; }

.card-form {
  text-transform: uppercase;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1.5rem; }
  .card-form__privacy {
    display: flex;
    gap: 2rem;
    align-items: center; }
  .card-form__date {
    display: flex;
    flex-direction: column;
    gap: 0; }
    .card-form__date__header {
      margin: 0; }
    .card-form__date__fields {
      display: flex; }
